{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"printWidth": 100,
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": ["*.svelte", "*.ts", "*.js"],
			"options": {
				"parser": "svelte"
			}
		}
	]
}
